.venv/
venv/
__pycache__/
*.pyc
*.egg-info/
.env
*.hdf5
!demo/libero_demo_cache/*.hdf5
data/
!demo/data/
!demo/data/**
.cache/
*.safetensors
*.pt
.nfs*
*.swp
*.swo
.DS_Store
Thumbs.db
*.jpg
!demo/so101_demo_cache/
!demo/so101_demo_cache/**
logs/
CLAUDE.md
